<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { SolutionsResourceCards } from '../../components/solutions/index.vue';
import {
  CtaBlock,
  Hero,
  Showcase,
} from '~/components/solutions/code-suggestions/index.vue';
import { NextStep } from '~/components/common/index.vue';

import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    Hero,
    SolutionsResourceCards,
    Showcase,
    NextStep,
    CtaBlock,
  },
  nuxtI18n: false,
  async asyncData({ $content, _, error }: any) {
    try {
      const content = await $content(`solutions/code-suggestions`).fetch();
      const codeSuggestions = await $content(`code-suggestions`).fetch();

      return { content, codeSuggestions };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).content, this.$route.path);
  },
});
</script>

<template>
  <div>
    <SlpContainer variant="charcoal-100">
      <Hero v-bind="content.hero" />
      <Showcase
        :copy-blocks="content.copyBlocks.blocks"
        :code-blocks="codeSuggestions.code_blocks"
      />
    </SlpContainer>
    <SlpContainer>
      <CtaBlock :data="content.ctaBlock" />
    </SlpContainer>
    <SlpContainer>
      <SolutionsResourceCards v-bind="content.resources" />
    </SlpContainer>
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </div>
</template>
