<script lang="ts">
import Vue from 'vue';
import { getPageMetadata } from '../../common/meta';
import { NextStep } from '../../components/common/index.vue';
import {
  Conduct,
  LightningHero,
  Section,
  FeaturedSpeaker,
  FeaturedContent,
} from '../../components/events/index.vue';

export default Vue.extend({
  components: {
    LightningHero,
    Section,
    FeaturedSpeaker,
    FeaturedContent,
    Conduct,
    NextStep,
  },
  nuxtI18n: false,
  async asyncData({ $content, params }: any) {
    const content = await $content('events/rsa', params.slug).fetch();
    return { content };
  },
  head() {
    return getPageMetadata((this as any).content.metadata, this.$route.path);
  },
});
</script>

<template>
  <div>
    <LightningHero :data="content.hero" centered />
    <SlpContainer class="slp-mt-96 slp-mb-md-96 slp-mb-0">
      <SlpRow>
        <SlpColumn :cols="8">
          <SlpTypography tag="h1" variant="heading4-bold">
            {{ content.intro_description }}
          </SlpTypography>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
    <Section class="slp-pb-32" :data="content.gitlab_booth" />
    <FeaturedSpeaker v-bind="content.featured_speaker" />
    <Section :data="content.happy_hour" />
    <FeaturedContent v-bind="content.featured_content" />
    <Conduct event-name="RSA" />
    <NextStep />
  </div>
</template>
