<script lang="ts">
import Vue from 'vue';
import type { PropType } from 'vue';

interface Badge {
  src: string;
  alt?: string;
}

export default Vue.extend({
  props: {
    header: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    badges: {
      type: Array as PropType<Badge[]>,
      required: true,
    },
  },
});
</script>

<template>
  <SlpContainer>
    <div class="why-badges">
      <div class="text">
        <SlpTypography variant="heading2-bold" v-html="header" />
        <SlpTypography variant="heading4"> {{ description }}</SlpTypography>
      </div>
      <div class="badges">
        <nuxt-img
          v-for="image in badges"
          :key="image.src"
          :src="image.src"
          :alt="image.alt"
          width="96px"
        />
      </div>
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.why-badges {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
  margin-top: 64px;
  gap: 24px;
  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
    gap: 48px;
    margin-bottom: 160px;
  }
  .text {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .badges {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 0;
    justify-content: center;
    @media (min-width: $breakpoint-lg) {
      gap: 0 48px;
      grid-template-columns: repeat(3, 1fr);
    }
    img {
      @media (max-width: $breakpoint-lg) {
        max-width: 100%;
      }
    }
  }
}
</style>
