<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { SolutionsResourceCards } from '../components/solutions/index.vue';
import {
  Hero,
  Journey,
  Features,
  Principles,
} from '../components/solutions/ai/index.vue';
import { NextStep, ReportCta } from '~/components/common/index.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    Hero,
    Journey,
    Features,
    SolutionsResourceCards,
    Principles,
    NextStep,
    ReportCta,
  },
  nuxtI18n: false,
  async asyncData({ $content, _, error }: any) {
    try {
      const ai = await $content(`gitlab-duo`).fetch();
      return { ai };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).ai, this.$route.path);
  },
});
</script>

<template>
  <div>
    <SlpContainer variant="charcoal-100">
      <Hero v-bind="ai.hero" />
      <Journey v-bind="ai.journey" />
    </SlpContainer>
    <SlpContainer>
      <Features v-bind="ai.featureCards" />
      <Principles v-bind="ai.principles" />
      <SolutionsResourceCards v-bind="ai.resources" />
    </SlpContainer>
    <ReportCta :data="ai.report_cta" />
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </div>
</template>
