<script lang="ts">
import Vue from 'vue';
import { getPageMetadata } from '../common/meta';
import { CopyForm, NextStep } from '../components/common/index.vue';
import { FifteenHero, FifteenMainEvent } from '../components/fifteen/index.vue';

export default Vue.extend({
  name: 'Fifteen',
  components: {
    FifteenHero,
    CopyForm,
    NextStep,
    FifteenMainEvent,
  },
  nuxtI18n: false,
  async asyncData({ $content }: any) {
    const page = await $content('sixteen').fetch();
    return { page };
  },
  head() {
    return getPageMetadata((this as any).page, this.$route.path);
  },
});
</script>

<template>
  <section>
    <FifteenHero :data="page.hero_image_block" />
    <SlpContainer class="sixteen-form-section">
      <CopyForm :data="page.register_form_block" />
    </SlpContainer>
    <SlpContainer variant="light-purple-100" class="sixteen-main-event">
      <FifteenMainEvent :data="page.main_event_block" />
    </SlpContainer>
    <SlpContainer variant="gradient">
      <FifteenCountdown :data="page.countdown_block" />
    </SlpContainer>
    <SlpContainer>
      <NextStep />
    </SlpContainer>
  </section>
</template>

<style scoped lang="scss">
.sixteen-main-event {
  padding: $spacing-64 0;

  @media (min-width: $breakpoint-md) {
    padding: 160px 0;
  }
}
.sixteen-form-section {
  :deep {
    .mktoFieldDescriptor.mktoFormCol {
      text-transform: none !important;
      .mktoLabel.mktoHasWidth {
        text-transform: none !important;
      }
    }
  }
}
</style>
